body {
    background-color: hsl(33, 100%, 88%);
}

label {
    padding-inline-start: 1rem;
}

.task-card {
    background-color: hsl(0, 0%, 100%);
    border: 2px solid hsl(0, 0%, 66%);
    border-radius: 1ch;
    padding: 1rem;
    width: fit-content;
    margin: 1rem;
}

.completed-task {
    opacity: 0.5;
    text-decoration: line-through;
}

.priority-input, .task-input {
    padding: 0.5rem;
    border: 2px solid hsl(0, 0%, 0%);
    border-radius: 1ch;
}

.task-title {
    padding-block-end: 1rem;
    border-block-end: 3px solid hsl(39, 100%, 50%);
    width: fit-content;
    text-transform: uppercase;
}

.task-priority-high {
    color: hsl(0, 68%, 42%);
    font-weight: 800;
}

.task-btn {
    background-color: hsl(39, 100%, 50%);
    padding-inline: 2ch;
    padding-block: 1ch;
    margin-inline: 0.5rem;
    border-radius: 1ch;

    &:hover, :focus-visible {
        background-color: hsl(32, 100%, 75%);
        color: hsl(0, 0%, 100%);
        cursor: pointer;
    }
}