*:focus-visible {
    outline: 5px solid hsl(0, 0%, 0%);
}

/* background created by Temani Afif, gathered from https://css-pattern.com/ */
html {
  --s: 85px; /* control the size*/
  --c1: hsl(39, 83%, 45%);
  --c2: hsl(0, 13%, 90%);
  --c3: hsl(30, 59%, 79%);
  
  --_g: conic-gradient(at 50% 25%,hsla(0, 0%, 0%, 0) 75%,var(--c1) 0);
  background:
    var(--_g),var(--_g) var(--s) var(--s),
    var(--_g) calc(2*var(--s)) calc(2*var(--s)),
    var(--_g) calc(3*var(--s)) calc(3*var(--s)),
    repeating-linear-gradient(135deg,var(--c2) 0 12.5%,var(--c3) 0 25%);
  background-size: calc(4*var(--s)) calc(4*var(--s))
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

label {
    padding-inline: 0.5rem;
}

.app {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
}

.completed-task {
    opacity: 0.5;
    text-decoration: line-through;
}

.dashboard, .task-card {
    background-color: hsl(0, 0%, 100%);
    border: 2px solid hsl(0, 0%, 66%);
    border-radius: 1ch;
    padding: 1rem;
    margin: 1rem;
}

.dashboard {
    width: fit-content;
}

.priority-input, .task-input {
    padding: 0.5rem;
    border: 2px solid hsl(0, 0%, 0%);
    border-radius: 1ch;
}

.task-title {
    padding-block-end: 1rem;
    border-block-end: 3px solid hsl(39, 100%, 50%);
    width: fit-content;
    text-transform: uppercase;
}

.task-priority-high {
    color: hsl(0, 68%, 42%);
    font-weight: 800;
}

.task-btn {
    background-color: hsl(39, 100%, 50%);
    padding-inline: 2ch;
    padding-block: 1ch;
    margin-inline: 0.5rem;
    border-radius: 1ch;

    &:hover, :focus-visible {
        background-color: hsl(32, 100%, 75%);
        color: hsl(0, 0%, 100%);
        cursor: pointer;
    }
}